*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0 auto;
    gap: 20px
    ;
}
.box{
    width: 200px;
    height: 100px;
    border: 1px solid #4c4c4c;
    align-items: center;
    border-radius: 5%;
    padding: 20px;
    .price{
        padding: 10px;
        color: blue;
    }
} 
.sec_box{
    width: 200px;
    height: 100px;
    border: 1px solid #4c4c4c;
    align-items: center;
    border-radius: 5%;
    padding: 20px;

    .min_box{
        display: flex;
        justify-content: space-between;
        background-color: #4c4c4c;
        height: 20px;
        padding-top: 20px;
      
        .age{
            font-size: 20px;
        }
    }
    
    
} 

